/* feel free to go on google fonts and change this to another font! */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Slabo+27px&display=swap");

/* == UI COMPONENTS == */

/* buttons */
[type="button"],
[type="submit"],
button,
.a-button,
.yellow-button,
.transp-button,
.green-button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  /* if you change the font, don't forget to change it here too! */
  font-family: 'Poppins', sans-serif;
  padding: .6rem 1.2rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top: 10px;
}

[type="button"]:hover,
[type="submit"]:hover,
button:hover {
  background-color: rgb(255, 255, 255);
}

.buttons {
  text-align: justify;
}

/* == HTML == */
*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 18px;
}

div {
  margin-bottom: 1rem;
}

/* body */


body, code {
  box-sizing: border-box;
  min-height: 100%;
  background-color:rgb(16, 10, 18);
  color:rgb(255, 255, 255); 
  font-family: 'Slabo 27px', serif;
}

/* Anchors */
a {
  border-bottom: 3px solid #cebbf8ac;
  color: #e0cff1;
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  background-color: #caecffd2;
}

/* paragraph */
/* == HEADERS == */
h1,
h2,
h3,
h4 {
  color: #fbe5fd;
  margin-top: 2rem;
  line-height: 1.2;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.6rem;
  margin: 1rem 1rem 1rem 0;
}

h4 {
  padding: 20px;
}

/**/
.wrapper,
.container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.container::before,
.container::after,
.wrapper::before,
.wrapper::after {
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.main {
  margin: 2rem;
}

.masthead {
  margin: 3rem 0;
  border-bottom: 1px solid transparent;
}

.footer {
  clear: both;
  position: relative;
  height: 200px;
  color: rgb(32, 8, 44);
  height: 2.5rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #fbe5fd;
}